
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body{
    background: rgb(231, 231, 231);
}

div.header{
    background: rgb(0,70,168); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(1, 83, 197) 0%, rgba(0,65,179,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgb(1, 83, 197) 0%,rgba(0,65,179,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(1, 83, 197) 0%,rgba(0,65,179,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0046a8', endColorstr='#00399b',GradientType=0 );
    padding: 0px 0px 8px 0px;
}

div.header, div.body{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

div.headerLeft, div.bodyLeft{
    width: 540px;
    height: inherit;
    /*background-color: #FFF000;*/
    order: 1;
}

div.headerRight, div.bodyRight{
    width: 380px;
    display: inline-block;
    margin-left: 20px;
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    order: 2;
}

@font-face {
    font-family: Klavika;
    src: url("klavika.otf") format("opentype");
}

h1.header, h1.body{
    font-size: 36px;
    margin: 32px 0px 0px 0px;
}

h1.header{
    color: #FFFFFF;
    font-family: 'Klavika';
}

div.login{
    display: flex;
    height: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 8px;
}

p.login{
    color: white;
    font-size: 13px;
    padding: 16px 0px 0px 0px;
}

input.login{
    background-color: rgb(255, 251, 198);
}

a.login{
    color: rgb(142, 178, 245);
    margin-top: 4px;
    font-size: 11px;
    font-family: "Lucida sans unicode";
    text-decoration: none;
}

a.login:hover{
    color: rgb(227, 234, 246);
}

button.login {
    -webkit-border-radius: 1;
    -moz-border-radius: 1;
    border-radius: 1px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 3px 6px 2px 6px;
    background: #0f4ea5;
    border: solid #062146 1px;
    font-weight: bold;
    text-decoration: none;
  }
  
button.loginbtn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  h1.body{
      color: #080808;
  }

  h2.body{
      color: #444444;
      font-size: 18px;
  }

  div.profiles{
      width: auto;
      height: 200px;
      flex-direction: row;
      background-color: #FF0000;
      margin: 16px 0px 0px 0px;
  }